.layout {
    display: flex;
    width: 100%;

    &__aside {
        width: 300px;
        flex-shrink: 0;
        background-color: #fff;
        padding: 24px;

        nav {
            
            display: block;
        }
    }

    &__logo {
        margin: 0 auto 48px;
        display: flex;
        width: max-content;
    }

    &__main {
        flex-grow: 1;
        padding: 48px;
    }
}