:root {
    --border-radius: 4px;
    --border-width: 2px;

    //colors
    --color-primary-50: #e6e7eb;
    --color-primary-100: #b0b6c2;
    --color-primary-200: #8a92a4;
    --color-primary-300: #54617b;
    --color-primary-400: #334261;
    --color-primary-500: #00133a;
    --color-primary-600: #001135;
    --color-primary-700: #000d29;
    --color-primary-800: #000a20;
    --color-primary-900: #11101d;

    --color-secondary-50: #fefefe;
    --color-secondary-100: #fbfbfb;
    --color-secondary-200: #f9f9f9;
    --color-secondary-300: #f6f6f6;
    --color-secondary-400: #f4f4f4;
    --color-secondary-500: #f1f1f1;
    --color-secondary-600: #dbdbdb;
    --color-secondary-700: #ababab;
    --color-secondary-800: #858585;
    --color-secondary-900: #656565;
}





