.main-menu-item {
    color: black;
    display: flex;
    gap: 4px;
    padding: 8px 0;
    color: inherit;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    
    &:hover {
        color: rgb(6, 65, 6);
    }
    
    svg {
        margin-top: -0.25em;
    }
}